* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    padding: 2rem;
}

button {
    margin: 100px;
    padding: 50px;
    width:  200px;
    cursor: pointer;
    border-radius: 10px;
    background-color: chartreuse;
    color: darkred;
    border: 5px solid blue;
    font-size: larger;
    font-weight: bold;
}